<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Visual dictionary</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- !!!!!!!!!!!!!! TODO: favicon !!!!!!!!!!!!!! -->
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<link rel="apple-touch-icon" type="image/png" href="assets/img/favicon.png">
	
	{{> ./parts/twitterMeta }}
	
	{{> ./parts/facebookMeta }}
	
</head>
<body>
	<input id="keyword" class="keyword" type="text" maxlength="512" placeholder="Search">
	
	<div class="clearfix">
		<iframe id="text-frame" class="text-frame" name="text-frame"></iframe>
		<iframe id="image-frame" class="image-frame" name="image-frame"></iframe>
	</div>
	
	{{> ./parts/githubRibbon }}
	
	<script src="assets/js/lib/jquery.min.js?v=3.1.0"></script>
	<script src="assets/js/search.js" charset="UTF-8"></script>
	
	<script src="/assets/js/analytics.js"></script>
</body>
</html>
