/* =================== base =================== */

*, *::before, *::after {
	box-sizing: border-box;
}

body, img, dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-size: 16px;
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;  /* for iOS Safari */
}

body, input, select, textarea, th, td {
	font-size: 16px;
	font-family: "Myriad Pro", "Lucida Grande", "GillSans", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
}

h1 {
	text-align: center;
}

/* =================== utility =================== */

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/* =================== style =================== */

.keyword {
	display: block;
	width: 100%;
	padding: 6px;
}

.text-frame {
	display: block;
	float: left;
	width: 50%;
	min-height: 50px;
}

.image-frame {
	display: block;
	float: left;
	width: 50%;
	min-height: 50px;
}

/* =================== style:media =================== */
@media (max-width: 480px) {
	.github-ribbon {
		width: 80px;
		height: 80px;
	}
}
